<a href="https://colab.research.google.com/github/gabrielawad/ppi-SI/blob/main/ppi_SI_07_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## «*El mundo exige resultados. No cuentes a otros tus dolores del parto. Muéstrales al niño.*»

### [Indira Gandhi](https://es.wikipedia.org/wiki/Indira_Gandhi)

# ppi_SI_07_Pandas

Actividad individual.

Utilice el dataset seleccionado en **SI01 Repositorio csv de Kaggle**.

Diligencie las casillas indicadas siguiendo las normas de estilo del PEP8.

# Preparación del ejercicio

*   Importe las librerías requeridas
*   Lea el dataset a utilizar desde una url

Sugerencia: suba el dataset a Googledrive y luego publíquelo como página web. El siguiente enlace le indica cómo hacerlo: [Cómo publicar archivos de Documentos, Hojas de cálculo, Presentaciones y Formularios de Google](https://support.google.com/docs/answer/183965?hl=es-419&co=GENIE.Platform%3DDesktop).

Nota: si lo desea puede utilizar otro método para obtener la url del dataset.

In [ ]:
# Escriba aquí su código

# Importar las librerías necesarias


# Conocer la versiones de las librerías instaladas


# Guardar en la variable 'ruta' la url del dataset 
ruta = 

# Cargar el dataset a partir de la ruta establecida


# Verificar la lectura del dataset

# Explorar el dataset

Muestre las principales características del dataset utilizando pandas.

En particular muestre los nombres de las columnas y sus tipos; el índice del dataset; la forma del dataset.

In [ ]:
# Escriba su código aquí

# Transformar el dataset

## df_00

Cree el df_00 con las siguientes características:

Diez columnas (dentro de las diez columnas deben estar la primera y la última columna del dataset original).

Diez filas (las filas deben corresponder a las cinco primeras filas y las cinco últimas filas del dataset original).

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## df_01

Modifique el índice del df_00 creado en el paso anterior.

Opción 1: utilice una de las columnas de df_00 como el nuevo índice.

Opción 2: cree el índice a partir de una secuencia cronológica.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## df_02

Cambie los nombres de las columnas de df_01 a "Primera", "segunda", etcétera.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## df_03

Utilizando el método **loc** seleccione los elementos que se encuentran entre la tercera y la sexta fila y en las columnas cuarta, quinta y octava de df_02.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## df_04

Utilizando el método **iloc** seleccione los elementos que se encuentran entre la tercera y la sexta fila y en las columnas cuarta, quinta y octava de df_02.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## df_05

Calcule el promedio de una de las columnas numéricas de df_02.

Cree el DataFrame df_05 conservando todas las columnas de df_02 y seleccionando los valores superiores al promedio en la columna numérica que tomó como referencia para el ejercicio.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## df_06

Seleccione una columna de df_02 que contenga una variable categórica (si no hay variables categóricas cree una columna con variables categóricas a partir de una columna numérica de df_02).

Utilice el método **groupby** para analizar la información de df_02 a partir de la variable categórica seleccionada.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí

## df_07

Cree una tabla dinámica, utilizando el método ***pivottable**, para analizar la información de df_02

Muestre el resultado y las características del DataFrame.

In [ ]:
# Escriba su código aquí